img {
  width: 20%;
  height: 20%;
}

.selected {
  border-color: red;
  border-style: groove;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: rgba(158, 158, 158, 0.7);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.modal-container {
  width: 400px;
  margin: 0 auto;
  background-color: white;
  padding: 50px 32px;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0px auto;
  padding: 32px 0px;
}